@import url(./normallize.css);
@import url(./reset.css);
@import url(./font.css);
@import url(./fontello.css);
html{
  font-size: 10px;
}
/* 하이퍼링크 스타일*/
a{
  color: inherit;
  text-decoration: none;
}
/* default box sizing */
*, *::before, *::after{
  box-sizing: border-box;
}


body{
  background: url(./images/bg_flower.png)no-repeat 50% 0, 
  #ccc linear-gradient(to bottom,#aaa, #fff)
  ;
  color: #111;
  font-size: 1.4rem;
  font-weight: 400;
  font-family:Pretendard
}

/* 레이아웃*/
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더*/
.header{
  background:#fff;
  position: relative;
  padding:0;
  border-radius: 0 0 15px 15px
}

/* 로고*/
.logo{
  position: absolute;
  top: 50px;
  left: 65px;
  right: 45px;
}

/* 멤버 서비스 */
.member-service{
  padding: 4px 0;
  text-align: right;
}

.member-service li{
  display: inline-block;
}

.member-service span{
  display: inline-block;
  padding: 0 5px 0 2px;
}

.member-service a{
  background: green;
  display: inline-block;
  padding: 6px 0;
  text-transform: uppercase;
}

/* 비주얼*/
.visual{
  /* background-color: pink; */
  height: 120px;
}
/* 메인 콘텐츠*/
.main{
  background-color: aqua;
  min-height: 400px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 30px 15px;
}

/*멤버 링크*/
.member{
  background-color: yellow;
text-align: right;
padding: 2px 0;
  width: 250px;
}
.member li, .member a{
  display: inline-block;
}
.memberli:nth-child(n+2)::before{
  content:":";
}
.member a{
  padding: 8px 10px 7px 7px;
}
.group2{
  background-color: lime;
  width: 380px;
}

.visual{
  background: orange;
  width: 190px;
}

/* 슬로건*/
.slogan{
  background-color: coral;
  height: 10vh;
}
/* 푸터*/
.footer{
  background: 
  #ccc linear-gradient(to bottom,#aaa, #fff)
}


.footer-inner{
  background-color: skyblue;
  height: 10vh;
}